/*
h1 {
  color: blue;
}

td {
  background-color: white;
  border: 1px solid #000;
  font-size: 25px;
  padding: 25px;

}

table {
  border-spacing: 0;
}
*/
/* ---- Cameron's CSS -----
body { margin: 10px; }

#the-grid { }

#the-grid table {
    border-spacing: 1px;
    margin: 0 auto;
    background-color: black;
}

td.cell {
    min-width: 25px;
    height: 25px;
    background-color: white;
    padding: 0px;
}

.red { background-color: red !important; }
----- End Cameron's CSS ----- */
